<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Sexy ISC
  link(rel="stylesheet", href="css/normalize.css")
  link(rel="stylesheet", href="css/sistemas.css")
body
  header
    h1 Sistema de Votacion
    h2 Vota por tu favorito
  section.fotos
    article
      img(src="img/asuncion.jpg", alt="asuncion")
      p Asuncion
    article
      img(src="img/richi.jpg", alt="Ricardo")
      p Ricardo
    article
      img(src="img/alex.jpg", alt="Alex")
      p Alejandro
    article
      img(src="img/rabanito.jpg", alt="Leonardo")
      p Leonardo
    article
      img(src="img/mariachi.jpg", alt="mariachi")
      p Jorge Antonio
    article
      img(src="img/sebas.jpg", alt="Sebas")
      p Sebastian
h2.instrucciones Da click Votando de Mayor a Menor por el de tu preferencia
footer
  p copyright &copy creado por 4to de ISC
  
